<div class="row">
   <table class="table table-hover">
      <div class="col-lg-8">
        <tr>
           <th>Ref</th><th>nom</th><th>priunitaire</th><th>qualite</th><th><button (click)="operation='add';  " >Add</button></th>
        </tr>
        <tr *ngFor="let produit of produits">
          <td>{{produit.ref}}</td>
          <td>{{produit.nom}}</td>
          <td>{{produit.prixUnitaire}}</td>
          <td>{{produit.quantity}}</td>
          <td><button class="btn btn-primary" (click)=" operation = 'edit'; selectedProduit=produit; ">Edit</button></td>
          <td><button class="btn btn alert-danger" (click)="operation = 'remove'; selectedProduit=produit;">Delete</button></td>
        </tr>
      </div>
   </table>

   <div class="col-lg-6">
      <div class="card">
        <div class="card-header bg-info text-white">
          {{
            operation == 'add' ? 'Ajouter Produit':
            operation == 'edit' ? 'Edit Produit':
            operation == 'delete'? 'Delete Produit': ''
          }}
        </div>
        <div class="card-body">
          <div *ngIf="operation=='add' || operation == 'edit'">
            <form [formGroup]="formProduit">
              <div class="form-group">
                <label>Ref:</label>
                <input type="text" formControlName="ref" class="form-control" [(ngModel)]="selectedProduit.ref" />
              </div>
              <div class="alert alert-danger" *ngIf="formProduit.controls['ref'].invalid &&
             (formProduit.controls['ref'].touched || formProduit.controls['ref'].dirty)">
                Ref obligatoire !
              </div>
              <div class="form-group">
                <label>nom:</label>
                <input type="text" formControlName="nom" class="form-control" [(ngModel)]="selectedProduit.nom" />
              </div>
              <div class="form-group">
                <label>prix unitaire:</label>
                <input type="number" formControlName="prixUnitaire" class="form-control" [(ngModel)]="selectedProduit.prixUnitaire" />
              </div>
              <div class="form-group">
                <label>quantity:</label>
                <input type="number" formControlName="quantity" class="form-control" [(ngModel)]="selectedProduit.quantity" />
              </div>
              <button class="btn btn-primary" [disabled]="formProduit.prestine || formProduit.invalid"
                      (click)="operation=='add' ? addProduit() : editProduit() ">
                {{operation == 'add' ? 'Ajouter': 'Modifier'}}
              </button>
            </form>
          </div>
          
          <div *ngIf="operation == 'remove' ">
            <p class="card-title">
              Reference: {{selectedProduit.ref}}
            </p>
            <button class="alert-danger" (click)="deleteProduit()">confirmer</button>
          </div>
           
        </div>
     </div>    
        
  </div>
  </div>
